
*{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Source Sans Pro', sans-serif;*/
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');


button:focus,
input:focus,
textarea:focus {
    outline: none;
}

html{
	-webkit-text-size-adjust: 100%;
	transition: all 0.2s ease-in-out; /* .3s all ease;*/
}

body, button, input, textarea{
	font-size: 20px;
	line-height: normal;
}

body{
	transition: 0.5s all ease-in-out;


	/*modelado*/
	color: #1b1919;

}

div, img{
	margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	transition: all 0.2s ease-in-out;
	text-decoration: none;
}




/*Modelado Externo*/
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  /*background: #CCC;*/
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}
/*Modelado Externo end*/


.flotante {
    	display:scroll;
        position:fixed;
        
        /*bottom:30px;
        right:30px;
        */
        bottom: 30px;
        right: 30px;
        z-index: 100;        
}

.caja_flotante{
	
	/*width:300px;
	height: 80px;
	background-color: #2b2726;*/
}

/*galeria*/


/*
#galeria {
            
            width:100%;
            max-width:960px;
            column-count: 2;
        }
*/


.barra_lateral{
	background-color: #ffb228;
	font-weight: 600;
}

.margin{
	padding:40px;
}

section .texto{
	text-align: justify;
	margin-top: 10px;
}

section{
	margin: 0px;
	border:0px;
}

img{
	margin: 0px;
}

.pagina{

}

.img_c{
	width: 100%;
	box-sizing: border-box;
}



.contenedor_barra{
	padding: 30px;
	text-align: center;
}

.logo{
	transition: 0.3s;
	width: 50px;
	height: auto;
}

.linea_nav{
	margin-top: 50%;
}


.linea_nav ul{
	list-style: none;

  margin: 0;
  padding: 0;
}

li{
	transition: 0.3s all ease-in-out;
	margin: 20px;
	filter: opacity(70%);
}

li:hover{
	transition: 0.3s all ease-in-out;
	font-size: 1.5rem;

	/*text-decoration:underline;*/
	filter: opacity(100%);

	text-shadow: 2px 2px #fff;
}

.active{
	/*text-decoration:underline;*/
	font-size: 1.5rem;
	color: #fff !important;
	filter: opacity(100%);
}

.item_nav{
	color: 
}

footer{
	background-color: #242423;
	border:0px;
}



/*iconos de redes*/
.social_bar{
	width: 100%;
	height: 100%;
	text-align: center;
	margin-top: 20px;
	margin-left: 5px;
}

.circulo{
	transition: 0.6s;
	width: 35px;
	height: 35px;
	background-color: #ff8b00;
	border-radius: 100%;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.circulo:hover{
	transition: 0.3s;
	background-color: #fff;
}

.circulo i{
	margin-top: 8px;
	font-size: 18px;
}

#titulo_aso{
	font-size: 1.3rem;
}

.copy{
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.mensaje{
	background-color: black;
	
	background-image: url("https://cdn.jetsemani.com/wp-content/uploads/2019/01/20181112-636775961843709084.jpg");
	background-size: cover;
	background-position: center;

	color: #fff;
	text-align: center;
	padding: 20px;
}

.mensaje span{
	font-style: italic;
	font-size: 12px;
}
.mensaje_texto{
	text-align: center;
	width: 70%;
	margin: auto;
	padding: 20px;
	color: #fff;

	
}

.contenedor_negro{
	width: 100%;
	height: 100%;
	display: block;
	box-sizing: border-box;
	background-color: black;

}